<%= form_for(@mapping) do |f| %>
  <% if @mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% @mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from, "#{@mapping.map.from.humanize} #{@mapping.map.subject.humanize.downcase} #{@mapping.map.attr.humanize.downcase}" %><br />
    <%= f.text_field :from %>
  </div>

  <div class="field">
    <%= f.label :to, "#{@mapping.map.to.humanize} #{@mapping.map.subject.humanize.downcase} #{@mapping.map.attr.humanize.downcase}" %><br />
    <%= f.text_field :to %>
  </div>

  <%= f.hidden_field :map_id %>

  <div class="actions">
    <% label = @mapping.new_record? ? "Create Mapping" : "Update Mapping" %>
    <%= f.submit label  %>
  </div>

<% end %>
