<%= form_for(@mapping, url: mappings_url(subject: @mapping.parent_map.subject, attr: @mapping.parent_map.attr.pluralize)) do |f| %>
  <% if @mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% @mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <%= f.hidden_field :map_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
