<p>
  <b>Map:</b>
  <%= @mapping.map.name %>
</p>

<p>
  <b>From:</b>
  <%= @mapping.from %>
</p>

<p>
  <b>To:</b>
  <%= @mapping.to %>
</p>

<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'Back', mappings_path %>
