<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border=0 cellpadding="0" cellspacing="5">
    <tr>
      <td>
        <div class="field">
          <%= f.label :subject %><br />
          <%= f.text_field :subject %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :attr, "Attribute" %><br />
          <%= f.text_field :attr %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :from, "From name" %><br />
          <%= f.text_field :from %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :to, "To name" %><br />
          <%= f.text_field :to %>
        </div>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
