<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :from_mapping %><br />
    <%= f.text_field :from_mapping %>
  </div>
  <div class="field">
    <%= f.label :to_mapping %><br />
    <%= f.text_field :to_mapping %>
  </div>
  <div class="field">
    <%= f.label :mapping_attribute %><br />
    <%= f.text_field :mapping_attribute %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
