<p>
  <b>Name:</b>
  <%= @map.subject %>
</p>

<p>
  <b>From mapping:</b>
  <%= @map.from %>
</p>

<p>
  <b>To mapping:</b>
  <%= @map.to %>
</p>

<p>
  <b>Mapping attribute:</b>
  <%= @map.attr %>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
